html{
  height: 100%;
  
}
body {
  background-color: rgb(190, 181, 181);
  width: 100%;
  height: 100%;
position: relative;
}
h1{
  color: #faf3f4;
  text-align: center;
  text-shadow: #513337;
  font-size: 50px;
  font-family:'Times New Roman', Times, serif 'Trebuchet MS', sans-serif 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#divDown{
  position:absolute;
   left: 50px;
   bottom: 0px;
   width: 100%;
  filter: drop-shadow(8px 8px 10px rgb(115, 115, 115));
   text-shadow: 2px 2px 5px rgb(110, 106, 109); 
}
#image1{
  width:100%;
  filter: blur(4px);
  height: 200px;
}
#image2{
  width:100%;
  filter: blur(2px);
  height: 90px;
}
#divH{
  position: absolute;
  top: 10px;
  right: 50px;
  left: 50px;
filter: drop-shadow(8px 8px 10px rgb(115, 115, 115));
text-shadow: 2px 2px 5px rgb(110, 106, 109);
}
#div1 {
  width: 350px;
  padding: 50px;
  text-align: center;
  margin: auto;
  margin-top: -3%;
}
#butt {
  vertical-align: top;
}
#showHidDIV {
  width: 100%;
  padding: 50px;
  text-align: center;
  background-color: rgba(134, 123, 123, 0.4);
  margin-top: -6%;
}
#divP {
  width: 450px;
  background: rgba(62, 62, 62, 0.4);
  padding: 2px;
  text-align: center;
  margin: auto;
  margin-bottom: -3%;
  margin-top: -2%;
}
#formDiv {
  width: 450px;
  height: 750px;
  background: rgba(137, 126, 126, 0.4);
  padding: 40px;
  text-align: center;
  margin: auto;
  margin-top: 1%;
  margin-bottom: 3%;
  box-shadow: 5px 5px 8px rgb(110, 106, 109);
}
.div2 {
  align-items: center;
}
#results , #divBack{
  display: none;
}
table,
th,
td {
  border: 1px solid #513337;
}
table {
  width: 100%;
}
