body {
  background-color: rgb(190, 181, 181);
  width: 100%;
  height: 100%;
}
h1 {
  text-align: center;
  color: rgb(255, 0, 136);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
#div1 {
  width: 350px;
  padding: 50px;
  text-align: center;
  margin: auto;
  margin-top: -3%;
}
#butt {
  vertical-align: top;
}
#showHidDIV {
  width: 100%;
  padding: 50px;
  text-align: center;
  background-color: rgba(250, 174, 174, 0.4);
  margin-top: -6%;
}
#divP {
  width: 400px;
  background: rgba(71, 68, 68, 0.4);
  padding: 2px;
  text-align: center;
  margin: auto;
  margin-top: -2%;
}
#formDiv {
  width: 450px;
  background: rgba(137, 126, 126, 0.4);
  padding: 40px;
  text-align: center;
  margin: auto;
  margin-top: 3%;
  margin-bottom: 3%;
}
.div2 {
  align-items: center;
}
#results , #divBack{
  display: none;
}
table,
th,
td {
  border: 1px solid #513337;
}
table {
  width: 100%;
}
